.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border: 1px solid var(--border-color);
    flex-shrink: 0;
}

.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}