.project-layout {
    display: flex;
    min-height: 100%;
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.project-content {
    flex: 1;
    overflow-y: auto;
    background-color: #0b0b0b;
    /* Matching the main theme background */
}