/* .logo {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--accent);
}

.logo-icon {
    width: 9px;
    height: 9px;
    display: block;
    flex-shrink: 0;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
} */