/* .logo {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--accent);
}

.logo-icon {
    width: 9px;
    height: 9px;
    display: block;
    flex-shrink: 0;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
} */

input::placeholder {
    /* color: #facc15; */
    /* yellow */
    opacity: 0.7;
}

.logo-text {
    display: inline-flex;
    align-items: center;
    /* Perfect vertical centering */
    font-weight: 600;
    font-size: 45px;
    color: var(--text-primary);
}

.logoX {
    height: 1.8em;
    margin-left: 2px;
}