.logo-text {
    display: inline-flex;
    align-items: center;
    /* Perfect vertical centering */
    font-weight: 600;
    font-size: 45px;
    color: var(--text-primary);
}

.logoX {
    height: 1.8em;
    margin-left: 2px;
}